<widget id="A6084249439208"  version="0.0.1">
    <name>SimpleCalculatorApp</name>
    <description>
        Personal Web 2.0 Course Assignment.
    </description>
    <author email="971204464@qq.com" href="//github.com/ReganFan">
        Yeshu(ReganFan)
    </author>
    <content src="index.html" />
    <access origin="*" />
    <preference name="windowBackground" value="#FFF" />
    <permission name="call" />
</widget>